/* ========================= SCREEN 3 ========================= */
.emotions-screen {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  animation: fadeIn 2s ease forwards;
  gap: clamp(0.5rem, 12vmin, 8rem);
}
