/* ========================= SCREEN 1 ========================= */
.home-screen {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  animation: fadeIn 2s ease forwards;
  gap: clamp(0.5rem, 12vmin, 8rem);
}

.selection-menu {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, 6vmin, 4rem);
}

#home-hero {
  margin: auto;
  cursor: pointer;

  display: flex;
  justify-content: center;
  margin-top: 5vh;

  background: transparent;
  border: none;

  transition:
    transform 0.4s ease-in-out,
    filter 0.4s ease-in-out;
}

#home-hero img {
  width: clamp(10rem, 70vmin, 45rem);
}

#home-hero:hover {
  filter: brightness(1.25);
  transform: scale(1.025);
}

.menu-button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: clamp(4rem, 40vmin, 22rem);
  height: auto;
  padding: 0.45em 1em;

  font-size: clamp(0.75rem, 6vmin, 4rem);

  color: white;

  border: none;
  border-radius: 0.5em;

  background: linear-gradient(
    135deg,
    rgba(var(--accent-blue), 0.4),
    rgba(var(--accent-blue), 0.6),
    rgba(var(--accent-blue), 0.8)
  );

  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    filter 0.25s ease;
}

.menu-button:hover {
  box-shadow:
    0 0 20px rgba(var(--accent-blue), 0.8),
    0 0 35px rgba(var(--accent-blue), 0.8);

  transform: translateY(-2px);
  filter: brightness(1.1);
}

.menu-button:active {
  box-shadow: 0 0 25px rgba(var(--accent-blue), 0.8);

  transform: scale(0.85);
}

/* TODO: media query for narrow portrait, logo and buttons should be bigger + fix background */
