/* ========================= HTML, BODY, ROOT ========================= */

:root {
  --accent-blue: 0, 225, 255;
}

html,
body,
#root {
  margin: 0;

  height: 100%;
  width: 100%;

  overflow: hidden;
  user-select: none;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: url("./assets/backgrounds/home-background.png") center / cover
    no-repeat;
  animation: breathe 40s ease-in-out infinite alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.25);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes breathe {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1.1);
  }
}
